<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianmigangwan.mapper.UserMapper">

    <sql id="columns">`id`,`nickname`,`head_portrait`,`gender`,`phone_number`,`email`,`city`,`photo_count`,`video_count`,`password`,`create_time`,`update_time`</sql>


    <select id="queryUserByPhoneNumber" resultType="user" parameterType="string">
        select
        <include refid="columns"/>
        from `user`
        where `phone_number`=#{phoneNumber};
    </select>


    <insert id="addUser" parameterType="user">
        insert into `user`(<include refid="columns"/>)
        values(#{user.id},#{user.nickname},#{user.headPortrait},#{user.gender},#{user.phoneNumber},#{user.email},#{user.photoCount},#{user.videoCount},#{user.password},#{user.createTime},#{user.updateTime},#{user.isSendLoginPromptEmail});
    </insert>


    <select id="isPhoneNumberBinding" parameterType="string" resultType="boolean">
        <![CDATA[ select count(`phone_number`) from `user` where `phone_number` = #{phoneNumber} ]]>
    </select>

    <select id="isEmailBinding" parameterType="string" resultType="boolean">
        <![CDATA[ select count(`email`) from `user` where `email` = #{email} ]]>
    </select>

</mapper>