.margin-top-10 {
	margin-top: 10vh;
}


.margin-top-20 {
	margin-top: 20vh;
}


.margin-top-30 {
	margin-top: 30vh;
}


.margin-top-40 {
	margin-top: 40vh;
}


.margin-top-50 {
	margin-top: 50vh;
}


.paddng-top-10{
	padding-top:10vh ;
}


.paddng-top-20{
	padding-top:20vh ;
}


.paddng-top-30{
	padding-top:30vh ;
}